<div class="container">
  <h1>Hola este es mi primer proyecto con Angular</h1>
  <h2>{{ welcome }}</h2>
  <ul>
    @for (task of tasks(); track task) {
      <li>
        {{ task }}
      </li>
    }
  </ul>
  <hr />
  <h2>{{ 'Hola'.repeat(4) }}</h2>
  <p>La suma de 3 + 3 es {{ 3 + 3 }}</p>
  <p>Hola soy {{ name() }} y mi edad es {{ age }}</p>
  <hr />
  <img [src]="person().avatar" alt="">
  <input type="number" [value]="person().age">
  <button [disabled]="disabled">Click me</button>
  <p>person: {{person.name}}</p>
  <hr />
  <button (click)="clickHandler()">Click me</button>
  <button (dblclick)="clickHandler()">Double Click</button>
  <p>(change)</p>
  <input type="number" [value]="person().age" (change)="changeHandler($event)">
  <p>(change)</p>
  <input type="text" [value]="person().name" (change)="changeHandler($event)">
  <p>(keydown)</p>
  <input type="text" [value]="person().name" (keydown)="keydownHandler($event)">
  <p>(keydown shift)</p>
  <input type="text" [value]="person().name" (keydown.shift.t)="clickHandler()">
  <hr />
  <ul>
    <p>total: {{ tasks().length }}</p>
    @for (task of tasks(); track task; let i = $index) {
      <li>
        {{ i }} {{ task }}
      </li>
    }
  </ul>
  <h1>Signals</h1>
  <input type="text" [value]="name()" (change)="changeHandler($event)">
  <p>name: {{ name() }}</p>

  <input type="number" [value]="person().age" (change)="changeAge($event)">
  <p>(change)</p>
  @if (person().name === 'luis' && person().age > 18) {
    <div>
      Soy Luis y tengo más de 18 años
    </div>
  } @else {
    Soy luis y soy menor de 18 años
  }
  @if (name() === 'Luis'){
    <div>Soy luis nueva sintaxis</div>
  }

  <hr>
    <h2>If else new</h2>

    @if (person().name === 'Luis' && person().age > 18){
      <div>Soy luis y soy mayor de edad</div>
    } @else {
      <div>Soy luis y soy menor de edad</div>
    }

    <hr>


      <input type="text" [value]="person().name" (change)="changeName($event)">
      <div>
        @switch (person().name) {
          @case ('luis') {
            <p>Soy Luis</p>
          }
          @case ('juan') {
            <p>Soy Juan</p>
          }
          @case ('pedro') {
            <p>Soy Pedro</p>
          }
          @default {
            <p>No soy nadie</p>
          }
        }
      </div>
      <hr />
      <input type="color" [formControl]="colorCtrl">
      <p>color: {{ colorCtrl.value }} </p>
      <svg>
        <g>
          <rect x="0" y="0" width="100" height="100" [attr.fill]="colorCtrl.value"></rect>
        </g>
      </svg>
      <hr>
        <input type="number" [formControl]="widthCtrl">
        <span class="box" [style.width.px]="widthCtrl.value"></span>
        <hr>
          <p>
            <input type="text" [formControl]="nameCtrl"><br>
            <span class="message-error" [class.show]="nameCtrl.invalid && nameCtrl.touched"> Nombre invalido </span>
          </p>
          <p>
            <input type="text">
          </p>
          <hr>
            <h2>New For</h2>
            <ul>
              @for(task of tasks(); track task; let i = $index) {
                <li>{{ i }} {{ task }}</li>
                } @empty {
                <li><strong>La lista esta vacia</strong></li>}
              </ul>
              <hr>
                <h2>New Switch</h2>
                <div>
                  @switch (person().name) {

                    @case ('Luis') {
                      <p>Soy Luis y esta es la nueva sintaxis</p>
                    }
                    @case ('juan') {
                      <p>Soy Juan</p>
                    }
                    @case ('pedro') {
                      <p>Soy Pedro</p>
                    }
                    @default {
                      <p>No soy nadie</p>
                    }
                  }

                </div>
              </div>